---
import Layout from "../layout/Layout.astro";
import Image from "astro/components/Image.astro";
import type { ImageMetadata } from "astro";
import imageIdleGameTools from "../images/projects/idle-game-adcom-sample.png";
import imageDaysAliveMenuBar from "../images/projects/days-alive-menu-bar.png";
import imageCensusVisualizer from "../images/projects/census-visualizer.png";
import imageUtahPublicData from "../images/projects/utah-public-data.jpg";
import imageCS474 from "../images/projects/cs474-spotify-music.jpg";
import imageCS270 from "../images/projects/cs270-nba-predictive-model.jpg";
import imageStat230 from "../images/projects/stat230-figure-weights.png";

type Project = {
  title: string;
  description: string;
  href: string;
  img?: ImageMetadata;
  imgAlt?: string;
  imgLicense?: string;
  imgSrc?: string;
};

const projects_personal: Project[] = [
  {
    title: "Idle Game Tools",
    description:
      "A collection of browser tools that I have created or collaborated on to support players in various idle video games, including AdVenture Communist, AdVenture Ages, and Gold and Goblins.",
    href: "https://idlegametools.com",
    img: imageIdleGameTools,
    imgAlt:
      "Sample screenshot from the AdVenture Communist Mission Tracker on Idle Game Tools.",
  },
  {
    title: "Days Alive Menu Bar",
    description:
      "An ultra-lightweight, native Swift macOS application that allows users to be reminded of how old they are at all times.",
    href: "https://github.com/darrenrs/days-alive-menu-bar",
    img: imageDaysAliveMenuBar,
    imgAlt:
      "Sample screenshot of Days Alive Menu Bar showing one billion seconds of life.",
  },
  {
    title: "Census Visualizer",
    description:
      "A granular visualization of American Community Survey data in the United States at various geography levels.",
    href: "/projects/census-visualizer/",
    img: imageCensusVisualizer,
    imgAlt:
      "Sample screenshot of Census Visualizer showing Ohio's basic demographics.",
  },
  {
    title: "Utah Public Data",
    description:
      "A collection of analyses of public data in Utah's schools and communities.",
    href: "/projects/utah-public-data/",
    img: imageUtahPublicData,
    imgAlt: "The skyline of Salt Lake City, Utah's most well known city.",
    imgLicense: "Creative Commons Attribution 4.0 International",
    imgSrc: "https://commons.wikimedia.org/wiki/File:SLC_Skyline_2024.jpg",
  },
];

const projects_academic: Project[] = [
  {
    title: "CS 474: Spotify Playlist Track Predictor",
    description:
      "Fall 2023: An analysis of nearly 5 million Spotify songs and slightly effective playlist predictor/extender using a Recurrent Neural Network.",
    href: "/files/cs474-spotify-playlist-track-predictor.pdf",
    img: imageCS474,
    imgAlt: "A closeup photo of a turntable, representing song prediction.",
    imgLicense: "Creative Commons Zero",
    imgSrc: "https://pxhere.com/en/photo/1622585",
  },
  {
    title: "CS 270: NBA Predictive Modeling",
    description:
      "Winter 2024: A team project with several machine learning models to predict the outcome of NBA game results/money lines.",
    href: "/files/cs270-nba-predictive-modeling.pdf",
    img: imageCS270,
    imgAlt: "An NBA game in Boston.",
    imgLicense: "Creative Commons Attribution 2.0 Generic",
    imgSrc: "https://www.flickr.com/photos/rene-germany/131710739/",
  },
  {
    title: "Stat 230: Figure Weights ANOVA Experiment",
    description:
      "Winter 2024: An analysis of variance team experiment used to see if noise and notes affect performance on a popular mathematics puzzle.",
    href: "/files/stat230-figure-weights-anova-experiment.pdf",
    img: imageStat230,
    imgAlt: "Sample screenshot of a Figure Weights problem.",
  },
];
---

<Layout
  title="Portfolio | Darren R. Skidmore"
  description="Browse selected projects by Darren Skidmore."
>
  <section class="stack">
    <h1>Portfolio</h1>
    <p>Take a look at the highlights of my work!</p>
    <h2>Projects</h2>
    <div class="grid">
      {
        projects_personal.map((project: Project) => (
          <a class="card" href={project.href}>
            <div class="project-media">
              {project.img ? (
                <Image
                  src={project.img}
                  alt={project.imgAlt ?? `${project.title} screenshot`}
                  class="project-image"
                />
              ) : (
                <div class="placeholder-landscape">Project image</div>
              )}
            </div>
            {project.imgLicense ? (
              <div class="project-license">
                Licensed under {project.imgLicense}
              </div>
            ) : null}
            <h2>{project.title}</h2>
            <p>{project.description}</p>
          </a>
        ))
      }
    </div>
    <h2>School Projects</h2>
    <div class="grid">
      {
        projects_academic.map((project: Project) => (
          <a class="card" href={project.href}>
            <div class="project-media">
              {project.img ? (
                <Image
                  src={project.img}
                  alt={project.imgAlt ?? `${project.title} screenshot`}
                  class="project-image"
                />
              ) : (
                <div class="placeholder-landscape">Project image</div>
              )}
            </div>
            {project.imgLicense ? (
              <div class="project-license">
                Licensed under {project.imgLicense}
              </div>
            ) : null}
            <h2>{project.title}</h2>
            <p>{project.description}</p>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
